body {
    margin: 0;

    font-family: 'Alumni Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
} 

p {
    margin: 0 0 10px;
}

.container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}


/* =================Page=================== */

.page {
    width: 100%;
    height: auto;

    background: url(../img/bg.jpg) center no-repeat;
    background-size: cover;
    opacity: 0.95;
    background-attachment: fixed;

}

/* ================Header================== */

.header {
    background-color:#886ac2;

    padding: 10px 0;
    border-radius: 0 0 15px 15px;
}

.header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-brand {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;

    margin-left: 50px;
}

.header-logo img {
    max-width: 80px;
    display: block; 

    margin-left: 50px;
}

.header-nav {
    display: flex;
    margin-right: 50px;
}

.header-nav-link {
    margin-left: 10px;

    color: wheat;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;

    transition: color .3s linear;
}

.header-nav-link:hover {
    color: rgb(14, 245, 26); 
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: rgb(255, 255, 255);

    position: absolute;
    left: 0;
    bottom: 0;

}

/* ================Main================== */

.title {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: #012093;

    margin: 15px auto;
}

.title-inner {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    margin: 20px 0;
}


.sub-title {
    margin-bottom: 10px;
    margin-left: 50px;

    color: #ef6c00;
    font-size: 40px;
    font-weight: 400;
}

.text {
    padding-top: 5px;
    margin-left: 50px;
    margin-right: 50px;

    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-indent: 20px;
    text-align: justify;
   
}

.title-img img{
    max-width: 650px;
    margin: 10px 50px;
    border: 5px solid #ef6c00;
    border-radius: 30px;
}

.title-2 {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: #9cedff;

    margin: 15px auto;
}

.info-flex {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content {
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
}

.sub-title-2 {
    margin-bottom: 10px;
    margin-left: 50px;

    color: #da00ff;
    font-size: 30px;
    font-weight: 400;
    text-align: justify;
}

.text-2 {
    padding-top: 5px;
    margin-left: 50px;
    margin-right: 50px;

    font-size: 23px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-indent: 20px;
    text-align: justify;
   
}

.title-img-2 img {
    max-width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    border: 5px solid #da00ff;
    border-radius: 15px;
}

.hotel-flex {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotel-info {
    display: flex;
    width: 318px;
    height: 130px;
    border: 5px solid #ef6c00;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 50px;

    background-color: rgba(230, 230, 230, 0.5);
}

.info-img {
    border-radius: 5px 0 0 5px;
    padding-bottom: 1px;
    margin-bottom: 1px;
    
}

.hotel-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
    padding-top: 15px;   
}

.hotel-text a:hover {
    color: rgb(255, 0, 0);
}

.hotel-text a {
    text-decoration: none;
    color: #000;
    transition: color .3s linear;  
}

.hotel-text a:active {
    color: #000;
}

.sale {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #188038;
    border-radius: 20px;
    background-color: rgba(197, 255, 213, 0.5);
    padding: 2px;
    margin-left: 30px;
    margin-top: 20px;
}

.maps {
    width: 1030px; 
    height: 550px; 
    border: 5px solid #ef6c00;
    border-radius: 20px;
    margin-left: 50px;
    line-height: 0;
    margin-right: 50px;
}

.contacts {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.contacts-flex{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.network {
    background-color: rgba(158, 158, 158, 0.5);
    border: 5px solid #000000;
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
    display: block;
}

.contact {
    text-align: center;
    text-decoration: none;
    color: #000;
}

.network-flex {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
    margin-top: 20px;
}

.link {
    margin-right: 10px;
    transition: background-color .3s linear;
}

.link:hover {
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    
}

.excretion {
    margin: 0;
    transition: color .3s linear;
}
.excretion:hover {
    color: rgb(255, 0, 0);
}

/* ================Footer================== */

.footer {
    background-color:#886ac2;

    padding: 10px 0;
    border-radius: 15px 15px 0 0 ;
}